.login_container {
    height: 100vh;
    background-color: #aa8fd8;
    background-position: center;
    background-size: cover;
}

.form_box {
    width: 400px;
    background: #ffffff;
    padding: 40px;
}

.form_btn {
    width: 100%;
    padding: 15px;
    background-color: rgb(240, 158, 158);
}