.register_container {
    background-color: royalblue;
    background-position: center;
    background-size: cover;
    padding: 50px 0;
}

.register_box {
    width: 400px;
    background: #ffffff;
    padding: 40px;
}

.form_btn {
    width: 100%;
    padding: 15px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}